{% if administrator %}
<div class="content-links">
	<a href="/command/add/{{ target.oid|urlencode }}/">add command</a>
</div>
<div class="content-header">
	Commands
</div>
<div class="content-data">
	<div id="display_commands">
		{% if command_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Command Text</th>
				<th class="infotable">Status</th>
				<th class="infotable">Action</th>
			</tr>
			{% for command in command_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>{{ command.freetext }}</td>
				<td>{{ command.attributes.status }}</td>
				<td class="center">
					<a href="/command/update/{{ command.oid }}/">update</a>
					| <a href="/command/delete/{{ command.oid }}/">delete</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
<br/>
{% endif %}
