{% if administrator %}
<div class="content-links">
	<a href="/command/queue/add/{{ target.oid|urlencode }}/">add command queue</a>
</div>
<div class="content-header" onclick="Element.toggle('display_command_queues'); Element.toggle('display_command_queues_hidden');">
	Command Queues
</div>
<div class="content-data">
	<div id="display_command_queues" {% if not verbose or not command_queue_list %} style="display:none" {% endif %}>
		{% if command_queue_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Action</th>
			</tr>
			{% for queue in command_queue_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
			<td><a href="/display/{{ queue.oid }}/">{{ queue.attributes.name }}</a></td>
				<td class="center"><a href="/display/{{ queue.oid }}/">display</a> | <a href="/command/queue/delete/{{ queue.oid }}/">delete</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
	<div id="display_command_queues_hidden" class="hiddencontent" {% if verbose or not command_queue_list %}style="display:none" {% endif %} onclick="Element.toggle('display_command_queues'); Element.toggle('display_command_queues_hidden');">
		Hidden content, click to expand.
	</div>
</div>
<br/>
<br/>
<br/>
{% endif %}
