{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display command queues{% endblock %}

{% block content %}
	<div class="content-links">
		{% if admin %}
		<a href="/command/queue/delete/{{ queue.oid|urlencode }}/">delete</a>
		{% endif %}
	</div>
	<div class="content-header" onclick="Element.toggle('display_command_queue'); Element.toggle('display_command_queue_hidden');">
		Command Queue Information
		<div class="content-links">
			<a href="/command/queue/update/{{ queue.oid|urlencode }}/">update</a>
			| <a href="/command/queue/delete/{{ queue.oid|urlencode }}/">delete</a>
		</div>
	</div>
	<div class="content-data">
		<div id="display_command_queue">
			<table class="faketable">
				<tr>
					<td>Name:</td>
					<td>{{ queue.attributes.name }}</td>
				</tr>
			</table>
		</div>
		<div id="display_command_queue_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_command_queue'); Element.toggle('display_command_queue_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/commands/display_commands.html" %}
	{% include "stweb/attributes/display.html" %}
{% endblock %}
