{% if network_host_list or network_subnet_list or interface_network_host_list %}
<div class="content-header">
	IP-addresses
</div>
<div class="content-data">
	<div id="display_networks">
		{% if network_host_list or interface_network_host_list%}
		<table class="table table-striped infotable">
			<tr>
				<th>IP-address</th>
        <th>Primary Address</th>
				<th>Interface</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
            {% for network in network_host_list %}
            <tr>
            <td>
				<a href="/display/{{ network.oid|urlencode }}/">{{ network.strAddress|escape }}</a>
            </td>
            <td>
                {% if network.attributes.secondary %}
                    False
                {% else %}
                    True
                {% endif %}
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                {{ network.attributes.description|escape }}
            </td>
            <td class="center">
                {% if write_access %}
                    <a href="/device/network/delete/{{ device.oid|urlencode }}/{{ network.oid|urlencode}}/">delete</a>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
            {% for interface, networks in interface_network_host_list %}
                {% for network in networks %}
                    <tr>
                    <td>
						<a href="/display/{{ network.oid|urlencode }}/">{{ network.strAddress|escape }}</a>
                    </td>
                    <td>
                        {% if network.attributes.secondary %}
                            False
                        {% else %}
                            True
                        {% endif %}
                    </td>
                    <td>
                        <a href="/display/{{ interface.oid|urlencode }}/">{{ interface.attributes.name }}</a>
                    </td>
                    <td>
                        {{ network.attributes.description|escape }}
                    </td>
                    <td class="center">
                        {% if write_access %}
                            <a href="/device/network/delete/{{ interface.oid|urlencode }}/{{ network.oid|urlencode}}/">delete</a>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            {% endfor %}
		</table>
		{% endif %}
		{% if network_subnet_list %}
		<table class="table table-striped infotable">
			<tr>
				<th>Subnet/Range</th>
				<th>Description</th>
				<th>Auto-assign</th>
				<th>Action</th>
			</tr>
			{% for network in network_subnet_list %}
				<tr>
					<td>
						<a href="/display/{{ network.oid|urlencode }}/">{{ network|escape }}</a>
					</td>
					<td>
						{{ network.attributes.description|escape }}
					</td>
					<td class="center">
						{{ network.attributes.autoassign|escape }}
					</td>
					<td class="center">
						<a href="/device/network/delete/{{ device.oid|urlencode }}/{{ network.oid|urlencode}}/">delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
{% endif %}
