{% if device_password_associations.all %}
<div class="content-header">
	Linked password categories
</div>
<div class="content-data">
	<div id="display_password_category_links">
		{% if device_password_associations.categories %}
		<table class="infotable table table-striped table-hover table-bordered">
			<thead>
				<th>Category</th>
				<th>Category description</th>
				<th>Action</th>
			</thead>
			{% for cat in device_password_associations.categories %}
			<tr>
				<td class="vertical-align:middle;">
					<a href="/display/{{ cat.oid | urlencode }}" title="View category">
						<span class="glyphicon glyphicon-folder-close"></span>
						{{ cat.attributes.name }}
					</a>
				</td>
				<td>
					{{ cat.attributes.description }}
				</td>
				<td class="center">
					{% if write_access %}
					<div class="btn-group btn-group-md" role="group" aria-label="Actions">
						<a class="btn btn-default" href="/device/reference/delete/{{ cat.oid|urlencode }}/{{ device.oid|urlencode }}/">disassociate</a>
					</div>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>

<div class="content-header">
	Linked passwords
</div>
<div class="content-data">
	<div id="display_password_links">
		{% if device_password_associations.passwords %}
		<table class="infotable table table-striped table-hover table-bordered">
			<thead>
				<th>Username</th>
				<th>Password</th>
				<th>Description</th>
				<th>Key</th>
				<th>Action</th>
			</thead>
			{% for password in device_password_associations.passwords %}
			<tr>
				<td>
					{{ password.attributes.username }}
				</td>
				<td class="hiddenpassword">{{ password.password }}</td>
				<td>
					{{ password.attributes.description }}
				</td>
				<td class="center">
					{% if password.key %}
					<a href="/password/key/display/{{ password.key.oid|urlencode }}/">{{ password.key.attributes.name }}&nbsp;</a>
					{% endif %}
				</td>
				<td class="center">
					{% if write_access %}
					<div class="btn-group btn-group-md" role="group" aria-label="Actions">
						<a class="btn btn-default" href="/display/{{password.oid|urlencode}}/">display</a>
						<a class="btn btn-default" href="/password/update/{{ password.oid|urlencode }}/">update</a>
						<a class="btn btn-danger" href="/password/delete/{{ password.oid|urlencode }}/">delete</a>
						{% ifequal password.type "association" %}
						<a class="btn btn-default" href="/device/association/delete/{{ cat.oid|urlencode }}/{{ device.oid|urlencode }}/">disassociate</a>
						{% else %}
						<a class="btn btn-default" href="/device/reference/delete/{{ password.oid|urlencode }}/{{ device.oid|urlencode }}/">disassociate</a>
						{% endifequal %}
					</div>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
{% endif %}