<div class="content-links">
	{% if write_access %}
	<a href="/device/add/template/select/{{ device.oid|urlencode }}/">add device</a>
	{% endif %}
</div>
<div class="content-header" onclick="Element.toggle('display_devices_standard'); Element.toggle('display_devices_standard_hidden');">
	Devices
</div>
<div class="content-data">
	<div id="display_devices_standard">
		{% if device_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Description</th>
			</tr>
			{% for cur_device in device_list %}
				{% if cur_device.attributes.disabled %}
					<tr class="infotabledisabled">
				{% else %}
					{% if forloop.counter|divisibleby:"2" %}
						<tr class="infotableeven">
					{% else %}
						<tr class="infotableodd {% if cur_device.attributes.disabled %}bgred{% endif %}">
					{% endif %}
				{% endif %}
					<td>
						{% if cur_device.attributes.name %}
							<a href="/device/display/{{ cur_device.oid|urlencode }}/">{{ cur_device.attributes.name|escape }}</a><br/>
						{% else %}
							<a href="/device/display/{{ cur_device.oid|urlencode }}/">[UNKNOWN]</a><br/>
						{% endif %}
					</td>
					<td>
						{{ cur_device.attributes.description|escape }}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
	<div id="display_devices_standard_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_devices_standard'); Element.toggle('display_devices_standard_hidden');">
		Hidden content, click to expand.
	</div>
</div>
<br/>
<br/>
<br/>

