{% extends "stweb/base.html" %}

{% block title %}siptrackweb - browse devices{% endblock %}
{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-danger" href="/device/config/delete/{{ config.oid|urlencode }}/">Delete config</a>
				<a class="btn btn-success" href="/device/config/submit/{{ config.oid|urlencode }}/" data-toggle="tooltip" data-placement="bottom" title="Submit a new configuration text.">Submit config</a>
            {% endif %}
			<a class="btn btn-success" href="/device/config/all/{{ config.oid|urlencode }}/">View all versions</a>
        </div>
    </div>
	<div class="content-header">
		{{ config.name }}
	</div>
	<div class="content-data">
		<table>
		<tr>
			<td class="bold">Name: </td>
			<td>{{ config.name }}</td>
		</tr>
		{% if config.attributes.description %}
		<tr>
			<td class="bold">Description:</td>
			<td>{{ config.attributes.description }}</td>
		</tr>
		{% endif %}
		<tr>
			<td class="bold">Stored versions: </td>
			<td>{{ config.stats.count }}</td>
		</tr>
		<tr>
			<td class="bold">Max stored versions: </td>
			<td>{{ config.max_versions }}</td>
		</tr>
		<tr>
			<td class="bold">Latest version timestamp: &nbsp;&nbsp;</td>
			<td>{{ config.stats.pretty_latest_timestamp }}</td>
		</tr>
		<tr>
			<td class="bold">Latest version size: </td>
			<td>{{ config.stats.latest_size }} bytes</td>
		</tr>
		</table>
	</div>
	{% if data %}
	<br/>
	Latest config (<a href="/device/config/download/{{config.oid|urlencode}}/{{config.stats.latest_timestamp}}/">download</a>):
	<pre>{{ data }}</pre>
	{% endif %}
{% endblock %}
