{% if device_list %}
<div class="content-header">
	Devices
</div>
<div class="content-data">
	<div id="display_devices_ext">
		{% if device_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Linked Devices</th>
				<th class="infotable">Description</th>
			</tr>
			{% for cur_device in device_list %}
				{% if forloop.counter|divisibleby:"2" %}
				<tr class="infotableeven">
				{% else %}
				<tr class="infotableodd">
				{% endif %}
					<td>
						{% if cur_device.attributes.name %}
						<a {% if cur_device.attributes.disabled %} class="disabledbg" {% endif %} href="/device/display/{{ cur_device.oid|urlencode }}/">{{ cur_device.attributes.name|escape }}</a><br/>
						{% else %}
						<a {% if cur_device.attributes.disabled %} class="disabledbg" {% endif %} href="/device/display/{{ cur_device.oid|urlencode }}/">[UNKNOWN]</a><br/>
						{% endif %}
					</td>
					<td>
						{% for assoc_device in cur_device.links %}
						{% for pathinfo in assoc_device.path %}
						<a {% if pathinfo.disabled %} class="disabledbg" {% endif %} href="{{ pathinfo.path }}">{{ pathinfo.name }}</a>
						{% if not forloop.last %}
						/
						{% endif %}
						{% endfor %}
						{% if not forloop.last %}
						|
						{% endif %}
						{% endfor %}
					</td>
					<td>
						{{ cur_device.attributes.description|escape }}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
{% endif %}