{% if device_list %}
<div class="content-header">
	Devices
</div>
<div class="content-data">
	<div id="display_devices_standard">
		{% if device_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
                <th class="infotable">Class</th>
				<th class="infotable">Description</th>
			</tr>
			{% for cur_device in device_list %}
				{% if cur_device.attributes.disabled %}
					<tr class="infotabledisabled">
				{% else %}
					{% if forloop.counter|divisibleby:"2" %}
						<tr class="infotableeven">
					{% else %}
						<tr class="infotableodd {% if cur_device.attributes.disabled %}bgred{% endif %}">
					{% endif %}
				{% endif %}
					<td>
						{% if cur_device.attributes.name %}
							<a href="/device/display/{{ cur_device.oid|urlencode }}/">{{ cur_device.attributes.name|escape }}</a><br/>
						{% else %}
							<a href="/device/display/{{ cur_device.oid|urlencode }}/">[UNKNOWN]</a><br/>
						{% endif %}
					</td>
                    <td>
                        {{ cur_device.attributes.class|escape }}
                    </td>
					<td>
						{{ cur_device.attributes.description|escape }}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
{% endif %}