<div class="content-header">
  Event Log
</div>

<div class="content-data">
  <div id="display_device_event_logs">
    {% if event_log_list %}
    <table class="table table-striped table-hover table-bordered infotable">
      <thead>
        <th>User</th>
        <th>Text</th>
        <th>Timestamp</th>
      </thead>
      {% for event_log in event_log_list %}
      <tr>
        <td>
          {{ event_log.event_data.username }}
        </td>
        <td>
          {% if event_log.event_type == "create device" %}
          Created device
          {% elif event_log.event_type == "relocate device" %}
          Moved device from {{ event_log.event_data.src_name }} to {{ event_log.event_data.dst_name }}
          {% elif event_log.event_type == "create attribute" %}
          Created attribute {{ event_log.event_data.name }}
          {% elif event_log.event_type == "update attribute" %}
          Updated attribute {{ event_log.event_data.name }}
          {% elif event_log.event_type == "remove attribute" %}
          Removed attribute {{ event_log.event_data.name }}
          {% endif %}
        </td>
        <td>
          {{ event_log.prettyCtime }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="text-center">No events</div>
    {% endif %}
  </div>
</div>
