<div class="content-header">
	Device Information
</div>
<div class="content-data">
	<div id="display_device_info">
		{% if device.attributes.disabled %}
		<div class="red bold center">THIS DEVICE IS CURRENTLY DISABLED</div>
		{% endif %}
		<table class="faketable">
			<tr>
				<td class="bold">Name:</td>
				<td>{{ device.attributes.name }}</td>
			</tr>
			{% if device.attributes.description %}
			<tr>
				<td class="bold">Description:</td>
				<td>{{ device.attributes.description }}</td>
			</tr>
			{% endif %}
			{% if device.attributes.class %}
			<tr>
				<td class="bold">Class:</td>
				<td>{{ device.attributes.class }}</td>
			</tr>
			{% endif %}
			{% if device.ctime %}
			<tr>
				<td class="bold">Created:</td>
				<td>{{ device.prettyCtime }}</td>
			</tr>
			{% endif %}
			{% if primary_network %}
			<tr>
				<td class="bold">Primary Network</td>
				<td>{{ primary_network.strAddress }}/{{ primary_network.parent.strNetmaskCIDR }} ({{ primary_network.parent.strNetmask }})</td>
			</tr>
			<tr>
				<td class="bold">Default Gateway{% if default_gateway_guessed %} (guessed){% endif %}:</td>
				<td>{{ default_gateway }}</td>
			</tr>
			{% endif %}
            {% if device.attributes.rack_unit_occupied %}
                <tr>
                    <td class="bold">Unit marked as occupied:</td>
                    <td>{{ device.attributes.rack_unit_occupied_reason }}</td>
                </tr>
            {% endif %}
            {% if device.attributes.rack_unit_reserved %}
                <tr>
                    <td class="bold">Unit marked as reserved:</td>
                    <td>{{ device.attributes.rack_unit_reserved_reason }}</td>
                </tr>
            {% endif %}
            {% for attr in attribute_list.important %}
                <tr>
                    <td class="bold">{{ attr.name }}:</td>
                    <td>{{ attr.value }}</td>
                </tr>
            {% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
