{% extends "stweb/base.html" %}
{% load myfilters %}
{% load widget_tweaks %}

{% block title %}siptrackweb - {{ form.title }}{% endblock %}

{% block content %}
	<div class="content-header">
		Applying template: {{ template.attributes.name }} {% if template.attributes.description %} - {{ template.attributes.description }}{% endif %}
	</div>
	<div class="content-data">
		<form action="{{ form.action }}" {{ form.extraelements|safe }} method="post">
			{% if form.message %}
			{{ form.message|safe }}
			<br/>
			<br/>
			{% endif %}
			<table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="center">Apply Rule</th>
                    <th class="">Name</th>
                    <th class="">Value</th>
                    <th class="">Help</th>
                </tr>
                </thead>
                <tbody>
                {% for field in form.form %}
                    <tr class="">
                        <td class="center"><input checked="checked" type="checkbox" name="apply-{{field.html_name}}"/></td>
                        <td>{{ field.label }}</td>
                        <td>
                            {% if field.is_hidden %}
                                {{ field.initial }}
                            {% else %}
                                {% if field.field.widget|is_checkbox %}
                                    {{ field }}
                                {% else %}
                                    {% render_field field class+="form-control" %}
                                {% endif %}
                            {% endif %}</td>
                        <td>{{ field.help_text }}</td>
                    </tr>
                {% endfor %}
                </tbody>
			</table>
            <input class="btn btn-lg btn-success" type="submit" value="{{ form.submit }}"/>
		</form>
	</div>
{% endblock %}
