{% if rules.TMPLRULEPASSWORD %}
<div class="content-header">
	Password Rules
</div>
<div class="content-data">
	<table class="infotable">
		<tr>
			<th class="infotable">Username</th>
			<th class="infotable">Description</th>
			<th class="infotable">Password Key</th>
            <th class="infotable">Priority</th>
			<th class="infotable">Inherited From</th>
			<th class="infotable">Action</th>
		</tr>
		{% for rule in rules.TMPLRULEPASSWORD %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>
					{{ rule.username }}</a>
				</td>
				<td>
					{{ rule.description }}
				</td>
				<td>
					{% if rule.key %}
						<a href="/password/key/display/{{ rule.key.oid|urlencode }}/">{{ rule.key.attributes.name }}</a>
					{% else %}
						None
					{% endif %}
				</td>
                <td>
                    {{ rule.attributes.priority }}
                </td>
				<td>
					{% if rule.inherited %}
						<a href="/template/display/{{ rule.parent.oid|urlencode }}/">{{ rule.parent.attributes.name }}</a>
					{% else %}
						Local
					{% endif %}
				</td>
				<td>
					{% if not rule.inherited %}
						<a href="/template/rule/delete/{{ rule.oid|urlencode }}/">delete</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	<br/>
	<br/>
	<br/>
</div>
{% endif %}
