{% if rules.TMPLRULETEXT %}
<div class="content-header">
	Text Rules
</div>
<div class="content-data">
	<table class="infotable">
		<tr>
			<th class="infotable">Apply to attribute</th>
			<th class="infotable">Versions</th>
			<th class="infotable">Hidden</th>
			<th class="infotable">Wikified</th>
            <th class="infotable">Large</th>
			<th class="infotable">Priority</th>
			<th class="infotable">Inherited From</th>
			<th class="infotable">Action</th>
		</tr>
		{% for rule in rules.TMPLRULETEXT %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>
					{{ rule.attr_name }}</a>
				</td>
				<td>
					{{ rule.versions }}
				</td>
				<td>
					{{ rule.attributes.hidden }}
				</td>
				<td>
					{% if rule.attributes.wikitext %}
						True
					{% else %}
						False
					{% endif %}
				</td>
                <td>
                    {% if rule.attributes.large %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
				<td>
                    {{ rule.attributes.priority }}
				</td>
				<td>
					{% if rule.inherited %}
						<a href="/template/display/{{ rule.parent.oid|urlencode }}/">{{ rule.parent.attributes.name }}</a>
					{% else %}
						Local
					{% endif %}
				</td>
				<td>
					{% if not rule.inherited %}
						<a href="/template/rule/delete/{{ rule.oid|urlencode }}/">delete</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	<br/>
	<br/>
	<br/>
</div>
{% endif %}
