{% if template_list %}
<div class="content-header">
	Templates
</div>
<div class="content-data">
	<div id="display_templates">
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Description</th>
			</tr>
			{% for template in template_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>
					<a href="/template/display/{{ template.oid|urlencode }}/">{{ template.attributes.name|escape }}</a>
				</td>
				<td>
					{{ template.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
{% endif %}
