<div class="content-header">
	Template Rules
</div>
<div class="content-data">
	{% include "stweb/templates/display_rules_text.html" %}
	{% include "stweb/templates/display_rules_fixed.html" %}
	{% include "stweb/templates/display_rules_regmatch.html" %}
	{% include "stweb/templates/display_rules_bool.html" %}
	{% include "stweb/templates/display_rules_int.html" %}
	{% include "stweb/templates/display_rules_delete_attribute.html" %}
	{% include "stweb/templates/display_rules_password.html" %}
	{% include "stweb/templates/display_rules_assign_network.html" %}
	{% include "stweb/templates/display_rules_subdevice.html" %}
	{% include "stweb/templates/display_rules_flush_nodes.html" %}
	{% include "stweb/templates/display_rules_flush_associations.html" %}
</div>

