{% ifequal network.class_name "network tree" %}
<div class="content-header">
	Network Tree Information
</div>
<div class="content-data">
	<div id="display_network_tree_info">
		<table class="faketable">
			<tr >
				<td class="bold">Name:</td>
				<td>{{ network_tree.attributes.name }}</a></td>
			</tr>
			{% if network_tree.attributes.description %}
			<tr >
				<td class="bold">Description:</td>
				<td>{{ network_tree.attributes.description }}</td>
			</tr>
			{% endif %}
			<tr >
				<td class="bold">Protocol:</td>
				<td>{{ network_tree.protocol }}</td>
			</tr>
		</table>
	</div>
</div>
<br/>
<br/>
{% endifequal %}
