{% extends "stweb/base.html" %}

{% block title %}siptrackweb - network tree{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-success" href="/networktree/add/{{ parent.oid|urlencode }}/">Add Network Tree</a>
            {% endif %}
        </div>
    </div>
	<div class="content-header">
		Network Trees
	</div>
	<div class="content-data">
		<div id="display_network_trees">
			<table class="table table-striped infotable">
				<tr>
					<th>Name</th>
					<th>Protocol</th>
					<th>Description</th>
				</tr>
				{% for network_tree in network_tree_list %}
        <tr>
					<td><a href="/network/display/{{ network_tree.oid }}/">{{ network_tree.attributes.name|default:"[UNKNOWN]" }}</a></td>
					<td>{{ network_tree.protocol }}</td>
					<td>{{ network_tree.attributes.description }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
