{% extends "stweb/base.html" %}

{% block title %}siptrackweb - delete network association{% endblock %}

{% block content %}
	<fieldset class="content-fieldset">
		<legend class="content-legend">Delete Device Address: {{ network|escape }}</legend>
		<form action="/device/network/delete/post/{{ device.oid|urlencode }}/{{ network.oid|urlencode}}/" method="post">
			<input type="hidden" name="really_delete" value="yes"/>
			If you're really sure, then
			<input type="submit" value="continue"/>
		</form>
	</fieldset>
{% endblock %}
