{% if view_list %}
<div class="content-header">
    Views
</div>
<div class="content-data">
    <div id="display_views">
        <table class="table table-striped infotable">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for view in view_list %}
            <tr>
              <td>
                <a href="/view/display/{{ view.oid|urlencode }}/">
                  <span class="glyphicon glyphicon-folder-close"></span>
                  {{ view.attributes.name| default:"[UNKNOWN]" | escape }}
                </a>
              </td>
              <td>
                {{ view.attributes.description | escape }}
              </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
