{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display view{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-default" href="/view/update/{{ target.oid }}/">Update view</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Dangerous <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a data-toggle="tooltip" data-placement="bottom" title="This will delete this entire view including all devices, networks etc." href="/view/delete/{{ target.oid }}/">Delete view</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Manage:
            <a class="btn btn-default" href="/device/{{ view.oid }}/">Devices</a>
            <a class="btn btn-default" href="/networktree/{{ view.oid }}/">Networks</a>
            <a class="btn btn-default" href="/counter/{{ view.oid }}/">Counters</a>
            <a class="btn btn-default" href="/password/{{ view.oid }}/">Passwords</a>
        </div>
    </div>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#view" aria-controls="home" role="tab" data-toggle="tab">View</a></li>
            <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="view">
                <br/>
                {% include "stweb/views/display_view_info.html" %}
                {% include "stweb/views/devices/categories/display_categories.html" %}
                {% include "stweb/views/devices/display_devices_standard.html" %}
                {% include "stweb/views/networktrees/display_network_trees.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="other">
                <br/>
                {% include "stweb/attributes/display.html" %}
                {% include "stweb/configs/display.html" %}
                {% include "stweb/permissions/display_permissions.html" %}
            </div>
        </div>
    </div>
{% endblock %}
