<div class="content-header">
  Event Log Tree
</div>

<div class="content-data">
  <div id="display_device_event_logs">
    {% if event_log_tree_list %}
    <table class="table table-striped table-hover table-bordered infotable">
      <thead>
        <th>User</th>
        <th>Action</th>
        <th>Timestamp</th>
      </thead>
      {% for event_log in event_log_tree_list %}
      <tr>
        <td>
          {{ event_log.event_data.username }}
        </td>
          <td>
          {% if event_log.event_type == "create device" %}
          Created device
          {% elif event_log.event_type == "remove device" %}
          Removed device {{event_log.event_data.name }}
          {% endif %}

        </td>
        <td>
          {{ event_log.prettyCtime }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="text-center">No events</div>
    {% endif %}
  </div>
</div>
