{% extends "stweb/base.html" %}

{% block title %}siptrackweb - views{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-success" href="/view/add/" data-toggle="tooltip" data-placement="bottom" title="Views are used to separate distinct entities in siptrack, views have their own devices, networks etc.">Add view</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/config/add/select/{{ target.oid|urlencode }}/">Configuration item</a>
                        </li>
                        {% if administrator %}
                            <li>
                                <a href="/permission/add/{{ target.oid|urlencode }}/">Permission</a>
                            </li>
                            <li>
                                <a href="/command/queue/add/{{ target.oid|urlencode }}/">Command queue</a>
                            </li>
                            <li>
                                <a href="/event/trigger/add/{{ target.oid|urlencode }}/">Event trigger</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#view" aria-controls="home" role="tab" data-toggle="tab">Views</a></li>
            <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="view">
                <br/>
                {% include "stweb/views/display_views.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="other">
                <br/>
                {% include "stweb/configs/display.html" %}
                {% include "stweb/permissions/display_permissions.html" %}
                {% include "stweb/commands/display_queues.html" %}
                {% include "stweb/events/display_triggers.html" %}
            </div>
        </div>
    </div>
{% endblock %}
