{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% block title %}siptrackweb{% endblock %}</title>
	<link rel="stylesheet" href="{% static "siptrackweb/style.css" %}"/>
	<link type="text/css" href="{% static "siptrackweb/bootstrap-3.3.4-dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/ico" href="{% static "siptrackweb/favicon.ico" %}"/>
	</head>

	<body>
        <nav class="navbar navbar-default navbar-local navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#main-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Siptrack
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if current_view %}
                            <li class="{% ifequal section "view" %}active{% endifequal %}">
                                <a href="/view/display/{{ current_view.oid }}">View</a>
                            </li>
                            <li class="{% ifequal section "counter" %}active{% endifequal %}">
                                <a href="/counter/{{ current_view.oid }}">Counters</a>
                            </li>
                            <li class="{% ifequal section "device" %}active{% endifequal %}">
                                <a href="/device/{{ current_view.oid }}">Devices</a>
                            </li>
                            <li class="{% ifequal section "network" %}active{% endifequal %}">
                                <a href="/networktree/{{ current_view.oid }}">Network Trees</a>
                            </li>
                            <li class="{% ifequal section "password" %}active{% endifequal %}">
                                <a href="/password/{{ current_view.oid }}">Passwords</a>
                            </li>
                        {% endif %}
                        <li class="{% ifequal section "user" %}active{% endifequal %}">
                            <a href="/user">Users</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" action="/search/" method="post">
                        <div class="form-group">
                          <input id="searchinput" type="text" class="form-control" placeholder="Search" name="searchstring">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if view_list %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    {% if current_view %}
                                        {{ current_view.attributes.name }}
                                    {% else %}
                                        Views
                                    {% endif %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for view in view_list %}
                                        <li>
                                            <a href="/view/display/{{ view.oid }}/">{{ view.attributes.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                              {% if user.oid %}
                              <li><a href="/display/{{user.oid}}">User profile</a></li>
                              {% endif %}
                              <li><a href="/logout/">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if tagged_oid_path %}
        <div id="topbar">
            <div class="container">
                Tagged object :
                {% for pathinfo in tagged_oid_path %}
                    <a class="topbarlink" href="{{ pathinfo.path }}">{{ pathinfo.name }}</a>
                    {% if not forloop.last %}
                        /
                    {% endif %}
                {% endfor %}
                (<a class="topbarlink" href="/untag/{{ target.oid }}/"/>untag</a>)
            </div>
        </div>
        {% endif %}
        {% if message %}
            <div id="errorbar">
                <strong>Error: {{ message|escape }}</strong>
            </div>
        {% endif %}

		<div id="main-content" class="container">
            <ol class="breadcrumb">
                {% for pathinfo in browsable_path %}
                    <li>
                        <a href="{{ pathinfo.path }}">{{ pathinfo.name }}</a>
                    </li>
                {% endfor %}
            </ol>
			{% block content %}{% endblock %}
		</div>

		<script src="{% static "siptrackweb/jquery-1.11.2.min.js" %}" type="text/javascript"></script>
		<script src="{% static "siptrackweb/bootstrap-3.3.4-dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
		<script src="{% static "siptrackweb/siptrackweb.js" %}" type="text/javascript"></script>
		{% block js-includes %}{% endblock %}
	</body>
</html>
