{% extends "stweb/base.html" %}
{% load myfilters %}
{% load widget_tweaks %}

{% block title %}siptrackweb - {{ form.title }}{% endblock %}

{% block content %}
    <div class="content-header">
        Submit: {{ form.title }}
    </div>
    <div class="content-data">
        {% if form.message %}
            <div class="alert">
                <p>{{ form.message|safe }}</p>
            </div>
        {% endif %}
        <form action="{{ form.action }}" {{ form.extraelements|safe }} method="post">
            {% csrf_token %}

            {% for argument in form.form %}
                {% if argument.is_hidden %}
                    {{ argument }}
                {% endif %}
            {% endfor %}

            {% for argument in form.form %}
            {% if not argument.is_hidden or form.display_hidden %}
            <div class="form-group">

                {% if argument.field.widget|is_checkbox %}
                <div class="checkbox">
                    <label>
                    {{argument}} {{argument.label}}
                    </label>
                </div>
                {% else %}
                    {{argument.label_tag}}
                    {% render_field argument class+="form-control" %}
                {% endif %}

                <span id="helpBlock" class="help-block">{{argument.help_text|safe}}</span>
                {% if argument.errors %}
                    <span class="red">
                        {{argument.errors}}
                    </span>
                {% endif %}

            </div>

            {% endif %}
            {% endfor %}

            {% if not form.readonly %}
            <input class="btn btn-lg btn-success" type="submit" id="submit" value="{{ form.submit }}"/>
            {% endif %}

            <!--
            <table class="table table-striped table-bordered">
                <tbody>
                    {% for argument in form.form %}
                        {% if not argument.is_hidden or form.display_hidden%}
                            <tr>
                                <td>
                                    {{ argument.label_tag }}
                                </td>
                                <td>
                                    {% if argument.field.widget|is_checkbox %}
                                        {{ argument }}
                                    {% else %}
                                        {% render_field argument class+="form-control" %}
                                    {% endif %}
                                </td>
                                {% if argument.errors %}
                                    <td class="red">
                                        {{ argument.errors }}
                                    </td>
                                {% else %}
                                    <td>
                                        {{ argument.help_text|safe }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if not form.readonly %}
                <br/>
                <div class="center-section left">
                    <input class="btn btn-lg btn-success" type="submit" id="submit" value="{{ form.submit }}"/>
                </div>
            {% endif %}
            -->
        </form>
    </div>
{% endblock %}
