{% ifnotequal network.class_name "network tree" %}
<div class="content-header">
	Network Information
</div>
<div class="content-data">
	<div id="display_network_info">
		<table class="faketable">
			<tr>
				<td>Network:</td>
				{% ifequal network.class_name "ipv4 network" %}
				<td>{{ network }} ({{ network.strNetmask }})</a></td>
				{% endifequal %}
				{% ifequal network.class_name "ipv6 network" %}
				<td>{{ network }}</a></td>
				{% endifequal %}
			</tr>
			{% if network.attributes.description %}
			<tr >
				<td>Description:</td>
				<td>{{ network.attributes.description }}</td>
			</tr>
			{% endif %}
			{% if network.attributes.hostname %}
			<tr >
				<td>Hostname:</td>
				<td>{{ network.attributes.hostname }}</td>
			</tr>
			{% endif %}
			{% if not network.isHost %}
			<tr>
				<td>Usage:</td>
				<td>{{ network.numAllocatedHosts }} / {{ network.size }}</td>
			</tr>
			<tr>
				<td>Allocated subnets:</td>
				<td>{{ network.numAllocatedSubnets }}</td>
			</tr>
			<tr>
				<td>Available addresses:</td>
				<td>{{ network.numFreeHosts }}</td>
			</tr>
			{% endif %}
		</table>
	</div>
</div>
<br/>
<br/>
{% endifnotequal %}
