{% if not target.isHost %}
<div class="content-header">
	Subnets
</div>
<div class="content-data">
	<div id="display_networks">
		<table class="table table-striped infotable">
			<tr>
				<th>Address</th>
				<th>Associated Devices</th>
				<th>Description</th>
			</tr>
			{% for cur_net in network_list %}
      <tr>
					<td>
						{% if cur_net.unallocated %}
							{{ cur_net }}
						{% else %}
							<a href="/network/display/{{ cur_net.oid|urlencode }}/">{{ cur_net|escape }}</a>
						{% endif %}
					</td>
					<td>
						{% if not cur_net.unallocated %}
								{% for assoc in cur_net.device_association_list %}
								{% for pathinfo in assoc.path %}
								<a {% if pathinfo.disabled %} class="text-danger" {% endif %} href="{{ pathinfo.path }}">{{ pathinfo.name }}</a>{% if not forloop.last %} /{% endif %}
								{% endfor %}
								{% if not forloop.last %}|{% endif %}
								{% endfor %}
						{% endif %}
					</td>
					<td>
						{% if not cur_net.unallocated %}
							{% if cur_net.attributes.description %}
								{{ cur_net.attributes.description }}
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
{% endif %}
