{% if device_association_list %}
<div class="content-header">
	Associated Devices
</div>
<div class="content-data">
	<div id="display_network_assoc_devices">
                <table class="table table-striped infotable">
                        <tr>
                                <th>Associated Device</th>
                                <th>Device Class</th>
                                <th>Action</th>
                        </tr>
                        {% for assoc in device_association_list %}
				{% if assoc.obj.attributes.disabled %}
					<tr class="infotabledisabled">
				{% else %}
        <tr>
				{% endif %}
                                        <td>
                                                {% for pathinfo in assoc.path %}
												<a {% if pathinfo.disabled %} class="disabledbg" {% endif %} href="{{ pathinfo.path }}">{{ pathinfo.name }}</a>
                                                {% if not forloop.last %}
                                                /
                                                {% endif %}
                                                {% endfor %}
                                        </td>
                                        <td>
                                                {{ assoc.obj.attributes.class }}
                                        </td>
                                        <td class="center">
                                                {% ifequal assoc.type "association" %}
						{% if write_access %}
						<a href="/device/association/delete/{{ network.oid|urlencode }}/{{ assoc.obj.oid|urlencode }}/">delete</a>
						{% endif %}
                                                {% else %}
						{% if write_access %}
                                                <a href="/device/reference/delete/{{ network.oid|urlencode }}/{{ assoc.obj.oid|urlencode }}/">delete</a>
						{% endif %}
                                                {% endifequal %}
                                        </td>
                                </tr>
                        {% endfor %}
                </table>
	</div>
</div>
<br/>
<br/>
{% endif %}
