{% if password_list %}
<div class="content-header">
	Passwords
</div>

<div class="content-data">
	<div id="display_device_passwords">
		{% if password_list %}
		<table class="table table-striped table-hover table-bordered infotable">
      <thead>
				<th>Username</th>
				<th>Password</th>
				<th>Description</th>
				<th>Key</th>
				<th>Action</th>
			</thead>

			{% for password in password_list %}
      <tr>
        <td>
          {{ password.attributes.username }}
        </td>
        <td class="hiddenpassword">{{ password.password }}</td>
        <td>{{ password.attributes.description }}</td>
        <td class="center">
          {% if password.key %}
            <a href="/password/key/display/{{ password.key.oid|urlencode }}/">{{ password.key.attributes.name }}&nbsp;</a>
          {% endif %}
        </td>
        <td class="center">
          {% if write_access %}<a href="/password/update/{{ password.oid|urlencode }}/">update</a> | <a href="/password/delete/{{ password.oid|urlencode }}/">delete</a>{% endif %}
        </td>
      </tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>

{% else %}
<p>No passwords <a class="btn btn-success" href="/password/add/{{ target.oid|urlencode }}/">Add password</a></p>
{% endif %}
