<div class="content-header" onclick="Element.toggle('display_password_categories'); Element.toggle('display_password_categories_hidden');">
	Categories
</div>
<div class="content-data">
	<div id="display_password_categories">
		{% if password_category_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Description</th>
			</tr>
			{% for category in password_category_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>
					<a href="/password/category/display/{{ category.oid|urlencode }}/">
						{% if category.attributes.name %}
							{{ category.attributes.name|escape }}
						{% else %}
							[UNKNOWN]
						{% endif %}
					</a>
				</td>
				<td>
					{{ category.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
	<div id="display_password_categories_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_password_categories'); Element.toggle('display_password_categories_hidden');">
		Hidden content, click to expand.
	</div>
</div>
<br/>
<br/>
<br/>
