{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display password key{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-danger" href="/password/key/delete/{{ password_key.oid|urlencode }}/">Delete password key</a>
                <a class="btn btn-success" href="/attribute/add/select/{{ password_key.oid|urlencode }}/">Add attribute</a>
            {% endif %}
        </div>
    </div>

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
      <a href="#information" aria-controls="home" role="tab" data-toggle="tab">Password Key</a>
      </li>
      <li role="presentation">
      <a href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a>
      </li>
      {% if is_admin %}
      <li role="presentation">
      <a href="#usersconnected" aria-controls="usersconnected" role="tab" data-toggle="tab">Users Connected</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="information">
      <div class="content-header">
    		Password Key
    	</div>
    	<div class="content-data">
    		<div id="display_password_key">
    			<table class="faketable">
    				<tr>
    					<td>Name:</td>
    					<td>{{ password_key.attributes.name|escape }}</td>
    				</tr>
    				<tr>
    					<td>Description:</td>
    					<td>{{ password_key.attributes.description|escape }}</td>
    				</tr>
    			</table>
    		</div>
    	</div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="attributes">
    {% include "stweb/attributes/display.html" %}
    </div>

    <div role="tabpanel" class="tab-pane fade" id="usersconnected">
      <div class="content-header">
      	Users Connected
      </div>
      <div class="content-data">
      	<div id="display_users">
      		<table class="table table-striped table-hover table-bordered infotable">
      			<thead>
      				<th>User Name</th>
      				<th>Password Key</th>
      			</thead>
              {% for user in user_list %}
      				<td>
                <a href="/user/display/{{ user.oid|urlencode }}/">{{ user.username }}</a>
      				</td>
      				<td>
      				<a href="/password/key/display/{{ password_key.oid|urlencode }}/">
      					{% if password_key.attributes.name %}
      						{{ password_key.attributes.name|escape }}
      					{% else %}
      						[UNKNOWN]
      					{% endif %}
      				</a>
      				</td>
      		</tr>
    		    {% endfor %}
      		</table>
      	</div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
{% endblock %}
