<div class="content-header">
	Password Keys
</div>
<div class="content-data">
	<div id="display_password_keys">
		{% if password_key_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Description</th>
			</tr>
			{% for password_key in password_key_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>
					<a href="/password/key/display/{{ password_key.oid|urlencode }}/">
						{% if password_key.attributes.name %}
							{{ password_key.attributes.name|escape }}
						{% else %}
							[UNKNOWN]
						{% endif %}
					</a>
				</td>
				<td>
					{{ password_key.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
<br/>
