{% if password_key_list %}
<div class="content-header">
	Password Keys
</div>

<div class="content-data">
	<div id="display_password_keys">
		<table class="table table-striped table-hover table-bordered infotable">
			<thead>
				<th>Name</th>
				<th>Description</th>
			</thead>

			{% for password_key in password_key_list %}
      <tr>
				<td>
					<a href="/password/key/display/{{ password_key.oid|urlencode }}/">
						{% if password_key.attributes.name %}
							{{ password_key.attributes.name|escape }}
						{% else %}
							[UNKNOWN]
						{% endif %}
					</a>
				</td>
				<td>
					{{ password_key.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
{% endif %}
