{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display password key{% endblock %}

{% block content %}
	<div class="content-links">
		{% if write_access %}
		<a href="/password/key/delete/{{ password_key.oid|urlencode }}/">delete</a>
		{% endif %}
	</div>
	<div class="content-header" onclick="Element.toggle('display_password_key'); Element.toggle('display_password_key_hidden');">
		Password Key Information
	</div>
	<div class="content-data">
		<div id="display_password_key">
			<table class="faketable">
				<tr>
					<td>Name:</td>
					<td>{{ password_key.attributes.name|escape }}</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>{{ password_key.attributes.description|escape }}</td>
				</tr>
			</table>
		</div>
		<div id="display_password_key_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_password_key'); Element.toggle('display_password_key_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/attributes/display.html" %}
{% endblock %}
