{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display password key{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-danger" href="/password/key/delete/{{ password_key.oid|urlencode }}/">Delete password key</a>
                <a class="btn btn-success" href="/attribute/add/select/{{ password_key.oid|urlencode }}/">Add attribute</a>
            {% endif %}
        </div>
    </div>
	<div class="content-header" onclick="Element.toggle('display_password_key'); Element.toggle('display_password_key_hidden');">
		Password Key Information
	</div>
	<div class="content-data">
		<div id="display_password_key">
			<table class="faketable">
				<tr>
					<td>Name:</td>
					<td>{{ password_key.attributes.name|escape }}</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>{{ password_key.attributes.description|escape }}</td>
				</tr>
			</table>
		</div>
		<div id="display_password_key_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_password_key'); Element.toggle('display_password_key_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/attributes/display.html" %}
{% endblock %}
