{% if password_list %}
<div class="content-header" onclick="Element.toggle('display_device_passwords'); Element.toggle('display_device_passwords_hidden');">
	Passwords
</div>
<div class="content-data">
	<div id="display_device_passwords">
		{% if password_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Username</th>
				<th class="infotable">Password</th>
				<th class="infotable">Description</th>
				<th class="infotable">Key</th>
				<th class="infotable">Action</th>
			</tr>
			{% for password in password_list %}
				{% if forloop.counter|divisibleby:"2" %}
				<tr class="infotableeven">
				{% else %}
				<tr class="infotableodd">
				{% endif %}
					<td>
						{{ password.attributes.username }}
					</td>
					<td class="hiddenpassword">{{ password.password }}</td>
					<td>{{ password.attributes.description }}</td>
					<td class="center">
						{% if password.key %}
							<a href="/password/key/display/{{ password.key.oid|urlencode }}/">{{ password.key.attributes.name }}&nbsp;</a>
						{% endif %}
					</td>
					<td class="center">
						{% if write_access %}<a href="/password/update/{{ password.oid|urlencode }}/">update</a> | <a href="/password/delete/{{ password.oid|urlencode }}/">delete</a>{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
	<div id="display_device_passwords_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_device_passwords'); Element.toggle('display_device_passwords_hidden');">
		Hidden content, click to expand.
	</div>
</div>
<br/>
<br/>
{% endif %}