<div class="content-header">
  Password information
</div>

<div class="content-data">
  <div id="display_password">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Username:</th>
        <td>{{password.attributes.username|escape}}</td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>{{password.attributes.description|escape}}</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>{{password.attributes.URL|escape}}</td>
      </tr>
      <tr>
        <th>Password key</th>
        <td>
          <a href="/password/key/display/{{password.key.oid|urlencode}}/" title="Password key {{password.key.attributes.name}}">{{password.key.attributes.name|escape}}</a>
        </td>
      </tr>
    </table>
  </div>
</div>

{% include "stweb/attributes/display_boxes.html" %}

