{% if password_category_list %}
<div class="content-header">
	Categories
</div>

<div class="content-data">
	<div id="display_password_categories">
		{% if password_category_list %}
		<table class="table table-striped table-hover table-bordered infotable">
      <thead>
				<th>Name</th>
				<th>Description</th>
      </thead>

			{% for category in password_category_list %}
      <tr>
				<td>
					<a href="/password/category/display/{{ category.oid|urlencode }}/">
						{% if category.attributes.name %}
							{{ category.attributes.name|escape }}
						{% else %}
							[UNKNOWN]
						{% endif %}
					</a>
				</td>
				<td>
					{{ category.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>

{% endif %}
