{% extends "stweb/base.html" %}

{% block title %}siptrackweb - passwords{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-success" href="/password/key/add/{{ view.oid|urlencode }}/">Add password key</a>
                <a class="btn btn-success" href="/password/category/add/{{ parent.oid|urlencode }}/">Add category</a>
                <a class="btn btn-success" href="/password/add/{{ parent.oid|urlencode }}/">Add password</a>
            {% endif %}
        </div>
    </div>

    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
        <a href="#categories" aria-controls="home" role="tab" data-toggle="tab">Categories</a>
        </li>
        <li role="presentation">
        <a href="#passwordkeys" aria-controls="passwordkeys" role="tab" data-toggle="tab">Password keys</a>
        </li>
        <li role="presentation">
        <a href="#passwords" aria-controls="passwords" role="tab" data-toggle="tab">Passwords</a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="categories">
      {% include "stweb/passwords/display_categories.html" %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="passwordkeys">
      {% include "stweb/passwords/display_passwordkeys.html" %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="passwords">
      {% include "stweb/passwords/display_passwords.html" %}
      </div>
    </div>
{% endblock %}
