{% if administrator %}
<div class="content-links">
	<a href="/event/trigger/rule/python/add/{{ target.oid|urlencode }}/">add python rule</a>
</div>
<div class="content-header">
	Python Rules
</div>
<div class="content-data">
	<div id="display_python_rules">
		{% if python_rule_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">name</th>
				<th class="infotable">Action</th>
			</tr>
			{% for rule in python_rule_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
				<td>{{ rule.attributes.name }}</td>
				<td class="center">
					<a href="/event/trigger/rule/python/display/{{ rule.oid }}/">display</a>
					| <a href="/event/trigger/rule/python/update/{{ rule.oid }}/">update</a>
					| <a href="/event/trigger/rule/python/delete/{{ rule.oid }}/">delete</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
<br/>
{% endif %}
