{% if administrator %}
<div class="content-links">
	<a href="/event/trigger/add/{{ target.oid|urlencode }}/">add event trigger</a>
</div>
<div class="content-header">
	Event Triggers
</div>
<div class="content-data">
	<div id="display_event_triggers">
		{% if event_trigger_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Action</th>
			</tr>
			{% for trigger in event_trigger_list %}
			{% if forloop.counter|divisibleby:"2" %}
			<tr class="infotableeven">
			{% else %}
			<tr class="infotableodd">
			{% endif %}
			<td><a href="/display/{{ trigger.oid }}/">{{ trigger.attributes.name }}</a></td>
				<td class="center"><a href="/display/{{ trigger.oid }}/">display</a> | <a href="/event/trigger/delete/{{ trigger.oid }}/">delete</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
<br/>
{% endif %}
