{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display event trigger{% endblock %}

{% block content %}
	<div class="content-links">
		{% if admin %}
		<a href="/event/trigger/delete/{{ trigger.oid|urlencode }}/">delete</a>
		{% endif %}
	</div>
	<div class="content-header" onclick="Element.toggle('display_event_trigger'); Element.toggle('display_event_trigger_hidden');">
		Event Trigger Information
		<div class="content-links">
			<a href="/event/trigger/update/{{ trigger.oid|urlencode }}/">update</a>
			| <a href="/event/trigger/delete/{{ trigger.oid|urlencode }}/">delete</a>
		</div>
	</div>
	<div class="content-data">
		<div id="display_event_trigger">
			<table class="faketable">
				<tr>
					<td>Name:</td>
					<td>{{ trigger.attributes.name }}</td>
				</tr>
			</table>
		</div>
		<div id="display_event_trigger_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_event_trigger'); Element.toggle('display_event_trigger_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/events/display_python_rules.html" %}
	{% include "stweb/attributes/display.html" %}
{% endblock %}
