{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display attribute{% endblock %}

{% block content %}
	<div class="content-links">
		{% if write_access %}
		<a href="/attribute/update/{{ attribute.oid|urlencode }}/">edit</a>
		| <a href="/attribute/delete/{{ attribute.oid|urlencode }}/">delete</a>
		{% endif %}
	</div>
	<div class="content-header" onclick="Element.toggle('display_attribute'); Element.toggle('display_attribute_hidden');">
		Attribute Information
	</div>
	<div class="content-data">
		<div id="display_attribute">
			<table class="faketable">
				<tr>
					<td class="bold">Name:</td>
					<td>{{ attribute.name|escape }}</td>
				</tr>
				<tr>
					<td class="bold">Type:</td>
					<td>{{ attribute.atype|escape }}</td>
				</tr>
				{% if attribute.max_versions %}
				<tr>
					<td class="bold">Max stored versions:</td>
					<td>{{ attribute.max_versions|escape }}</td>
				</tr>
				{% endif %}
			</table>
		</div>
		<div id="display_attribute_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_attribute'); Element.toggle('display_attribute_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/attributes/display.html" %}
	{% include "stweb/attributes/display_versions.html" %}
{% endblock %}
