{% for wikitext in attribute_list.wikitext %}
<div class="content-links">
	{% if write_access %}
	<a href="/attribute/update/{{ wikitext.attribute.oid|urlencode }}/">edit</a>
	| <a href="/attribute/delete/{{ wikitext.attribute.oid|urlencode }}/">delete</a>
	| 
	{% endif %}
	<a href="/attribute/display/{{ wikitext.attribute.oid|urlencode }}/">display</a>
</div>
<div class="content-header">
	{% if wikitext.attribute.class_name == 'encrypted attribute' %}
	Encrypted Wikitext attribute: {{ wikitext.attribute.name }}
	{% else %}
	Wikitext attribute: {{ wikitext.attribute.name }}
	{% endif %}
</div>
<div class="content-data">
	<div id="display_wikitext_{{ wikitext.attribute.name }}">
		{{ wikitext.converted|safe }}
	</div>
</div>
<br/>
<br/>
{% endfor %}
