{% if attribute_list.standard %}
<div class="content-header">
	Attributes
</div>
<div class="content-data">
	<div id="display_attributes">
		<table class="table table-striped table-hover table-bordered infotable">
			<thead>
				<th>Attribute</th>
				<th>Value</th>
				<th>Action</th>
			</thead>
			{% for attr in attribute_list.standard %}
      {% if not attr.attributes.wikitext and not attr.attributes.large %}
      <tr>
        <td>
          <a href="/attribute/display/{{ attr.oid }}/">{{ attr.name|escape }}</a>
        </td>
        <td>{{ attr.value|escape }}</td>
        <td>
          {% if write_access %}
          <a class="btn btn-default" href="/attribute/update/{{ attr.oid }}/">edit</a>
          <a class="btn btn-default" href="/attribute/delete/{{ attr.oid }}/">delete</a>
          {% endif %}
          <a class="btn btn-default" href="/attribute/display/{{ attr.oid }}/">display</a>
        </td>
      </tr>
      {% endif %}
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
{% endif %}
