{% for attribute in attribute_list.large %}
<div class="content-links">
	{% if write_access %}
	<a href="/attribute/update/{{ attribute.oid|urlencode }}/">edit</a>
	| <a href="/attribute/delete/{{ attribute.oid|urlencode }}/">delete</a>
	|
	{% endif %}
	<a href="/attribute/display/{{ attribute.oid|urlencode }}/">display</a>
</div>
<div class="content-header">
  {% if attribute.class_id == 'ENCA' %}Encrypted{% endif %}
	Attribute: <strong>{{ attribute.name }}</strong>
</div>
<div class="content-data">
	<div id="display_attr_large_{{ attribute.name }}">
		<pre>{{ attribute.value }}</pre>
	</div>
</div>
<br/>
<br/>
{% endfor %}
