{% if attribute.values %}
{% for version in attribute.values %}
<div class="content-links">
</div>
<div class="content-header" onclick="Element.toggle('display_attr_versions_{{ forloop.counter }}'); Element.toggle('display_attr_versions_{{ forloop.counter }}_hidden');">
	Version: {{ forloop.counter }}
</div>
<div class="content-data">
	<div id="display_attr_versions_{{ forloop.counter }}">
		<pre>{{ version }}</pre>
	</div>
	<div id="display_attr_versions_{{ forloop.counter }}_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_attr_versions_{{ forloop.counter }}'); Element.toggle('display_attr_versions_{{ forloop.counter }}_hidden');">
		Hidden content, click to expand.
	</div>
</div>
<br/>
<br/>
{% endfor %}
{% endif %}
