{% if category_list %}
<div class="content-header">
	Device categories
</div>
<div class="content-data">
	<div id="display_categories">
		<table class="table table-striped infotable">
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			{% for cur_category in category_list %}
      <tr>
					<td>
            <a href="/device/display/{{ cur_category.oid|urlencode }}/">
              <span class="glyphicon glyphicon-folder-close"></span>
              {{ cur_category.attributes.name| default:"[UNKNOWN]" | escape }}
            </a>
					</td>
					<td>
						{{ cur_category.attributes.description|escape }}
					</td>
      </tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
{% endif %}
