{% if category_list %}
<div class="content-header">
	Categories
</div>
<div class="content-data">
	<div id="display_categories">
		{% if category_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Description</th>
			</tr>
			{% for cur_category in category_list %}
				{% if forloop.counter|divisibleby:"2" %}
				<tr class="infotableeven">
				{% else %}
				<tr class="infotableodd">
				{% endif %}
					<td>
						<a href="/device/display/{{ cur_category.oid|urlencode }}/">{{ cur_category.attributes.name|escape }}</a><br/>
					</td>
					<td>
						{{ cur_category.attributes.description|escape }}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
{% endif %}
