{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display counter{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-default" href="/counter/update/{{ counter.oid|urlencode }}/">Update counter</a>
                <a class="btn btn-danger" href="/counter/delete/{{ counter.oid|urlencode }}/">Delete counter</a>
            {% endif %}
        </div>
    </div>
	<div class="content-header">
		Counter Information
	</div>
	<div class="content-data">
		<div id="display_counter">
			<table class="faketable">
				<tr>
					<td>Name:</td>
					<td>{{ counter.attributes.name }}</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>{{ counter.attributes.description }}</td>
				</tr>
				<tr>
					<td>Current value:</td>
					<td>{{ counter.value }}</td>
				</tr>
				{% ifequal counter.class_name "counter loop" %}
				<tr>
					<td>Loop values:</td>
					<td>
						{% for value in counter.values %}
							{{ value }}<br/>
						{% endfor %}
					</td>
				</tr>
				{% endifequal %}
			</table>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/attributes/display.html" %}
{% endblock %}
