{% extends "stweb/base.html" %}

{% block title %}siptrackweb - counters{% endblock %}

{% block content %}
	<div class="content-links">
		{% if write_access %}
		<a href="/counter/basic/add/{{ parent.oid|urlencode }}/">add basic</a>
		| <a href="/counter/looping/add/{{ parent.oid|urlencode }}/">add looping</a>
		{% endif %}
	</div>
	<div class="content-header" onclick="Element.toggle('display_counters'); Element.toggle('display_counters_hidden');">
		Counters
	</div>
	<div class="content-data">
		<div id="display_counters">
			<table class="infotable">
				<tr>
					<th class="infotable">Name</th>
					<th class="infotable">Description</th>
				</tr>
				{% for counter in counter_list %}
				{% if forloop.counter|divisibleby:"2" %}
				<tr class="infotableeven">
				{% else %}
				<tr class="infotableodd">
				{% endif %}
					<td>
						<a href="/counter/display/{{ counter.oid|urlencode }}/">
							{% if counter.attributes.name %}
								{{ counter.attributes.name|escape }}
							{% else %}
								[UNKNOWN]
							{% endif %}
						</a>
					</td>
					<td>
						{{ counter.attributes.description }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="display_counters_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_counters'); Element.toggle('display_counters_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
{% endblock %}
