{% extends "stweb/base.html" %}

{% block title %}siptrackweb - counters{% endblock %}

{% block content %}
    <div class="panel panel-default" style="background-color: #f0f0f0">
        <div class="panel-body">
            Actions:
            {% if write_access %}
                <a class="btn btn-success" href="/counter/basic/add/{{ parent.oid|urlencode }}/">Add basic</a>
                <a class="btn btn-success" href="/counter/looping/add/{{ parent.oid|urlencode }}/">Add looping</a>
            {% endif %}
        </div>
    </div>
    {% if counter_list %}
	<div class="content-header">
		Counters
	</div>
	<div class="content-data">
		<div id="display_counters">
			<table class="infotable">
				<tr>
					<th class="infotable">Name</th>
					<th class="infotable">Description</th>
				</tr>
				{% for counter in counter_list %}
				{% if forloop.counter|divisibleby:"2" %}
				<tr class="infotableeven">
				{% else %}
				<tr class="infotableodd">
				{% endif %}
					<td>
						<a href="/counter/display/{{ counter.oid|urlencode }}/">
							{% if counter.attributes.name %}
								{{ counter.attributes.name|escape }}
							{% else %}
								[UNKNOWN]
							{% endif %}
						</a>
					</td>
					<td>
						{{ counter.attributes.description }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
    {% endif %}
{% endblock %}
