{% extends "stweb/base.html" %}

{% block title %}siptrackweb - display permission{% endblock %}

{% block content %}
	<div class="content-links">
		{% if admin %}
		<a href="/permission/delete/{{ permission.oid|urlencode }}/">delete</a>
		{% endif %}
	</div>
	<div class="content-header" onclick="Element.toggle('display_permission'); Element.toggle('display_permission_hidden');">
		Permission Information
	</div>
	<div class="content-data">
		<div id="display_permission">
			<table class="faketable">
				<tr>
					<td>Read access:</td>
					<td>{{ permission.read_access }}</td>
				</tr>
				<tr>
					<td>Write access:</td>
					<td>{{ permission.write_access }}</td>
				</tr>
				<tr>
					<td>Applies to all users:</td>
					<td>{{ permission.all_users }}</td>
				</tr>
				<tr>
					<td>Recursive:</td>
					<td>{{ permission.recursive }}</td>
				</tr>
				{% if permission.users %}
				<tr>
					<td>Users:</td>
					<td>
						{% for user in permission.users %}
						<a href="/display/{{ user.oid }}/">{{ user.username|escape }}</a></br>
						{% endfor %}
					</td>
				</tr>
				{% endif %}
				{% if permission.groups %}
				<tr>
					<td>Groups:</td>
					<td>
						{% for group in permission.groups %}
						<a href="/display/{{ group.oid }}/">{{ group.attributes.name|default:"[UNKNOWN]" }}</a></br>
						{% endfor %}
					</td>
				</tr>
				{% endif %}
			</table>
		</div>
		<div id="display_permission_hidden" class="hiddencontent" style="display:none" onclick="Element.toggle('display_permission'); Element.toggle('display_permission_hidden');">
			Hidden content, click to expand.
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	{% include "stweb/attributes/display.html" %}
{% endblock %}
