<div class="content-links">
</div>
<div class="content-header">
	Active Sessions
</div>
<div class="content-data">
	<div id="display_sessions">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<th>User name</th>
				<th>Session ID</th>
				<th>Session timeout</th>
				<th>Action</th>
			</thead>
			{% for session in session_list %}
				<td>
					{{ session.user }}
				</td>
				<td>
					{{ session.id }}
				</td>
				<td>
					{{ session.timeout }}
				</td>
				<td>
					<a class="btn btn-danger" href="/user/session/kill/{{ session.id|urlencode }}/">kill</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
