<div class="content-links">
	{% if write_access %}
	<a href="/user/connectkey/selectkey/{{ user.oid|urlencode }}/">connect password key</a>
	{% endif %}
</div>
<div class="content-header">
	Subkeys
</div>
<div class="content-data">
	<div id="display_subkeys">
		{% if subkey_list %}
		<table class="infotable">
			<tr>
				<th class="infotable">Name</th>
				<th class="infotable">Description</th>
				<th class="infotable">Action</th>
			</tr>
			{% for subkey in subkey_list %}
				{% if forloop.counter|divisibleby:"2" %}
				<tr class="infotableeven">
				{% else %}
				<tr class="infotableodd">
				{% endif %}
					<td>{{ subkey.password_key.attributes.name|escape }}</td>
					<td>{{ subkey.password_key.attributes.description|escape }}</td>
					<td class="center">{% if write_access %}<a href="/user/subkey/delete/{{ subkey.oid }}/">disconnect</a>{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
<br/>
