<div class="content-links">
	{% if write_access %}
	<a href="/user/group/update/{{ group.oid|urlencode }}/">update</a>
	{% if administrator %}
	| <a href="/user/group/delete/{{ group.oid|urlencode }}/">delete</a>
	{% endif %}
	{% endif %}
</div>
<div class="content-header">
	Group Information
</div>
<div class="content-data">
	<div id="display_group">
		<table class="table table-striped table-hover">
			<tr>
				<th>Group name:</th>
				<td>{{ group.attributes.name }}</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>{{ group.attributes.description }}</td>
			</tr>
			<tr>
				<th>Users:</th>
				<td>
					{% for user in group.users %}
					<a href="/display/{{ user.oid }}/">{{ user.username|escape }}</a></br>
					{% endfor %}
				</td>
			</tr>
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
{% include "stweb/attributes/display.html" %}
