<div class="content-links">
	{% if write_access %}
	<a href="/user/manager/delete/{{ user_manager.oid }}/">delete</a>
	| <a href="/user/manager/update/{{ user_manager.oid }}/">update</a>
	| <a href="/user/manager/activate/{{ user_manager.oid }}/">set as active user manager</a>
	{% ifequal user_manager.class_name "user manager ldap" %}
	| <a href="/user/manager/syncusers/ldap/{{ user_manager.oid }}/">sync users from ldap server</a>
	{% endifequal %}
	{% ifequal user_manager.class_name "user manager active directory" %}
	| <a href="/user/manager/syncusers/ad/{{ user_manager.oid }}/">sync users from ad server</a>
	{% endifequal %}
	{% endif %}
</div>
<div class="content-header">
	User manager
</div>
<div class="content-data">
	<div id="display_user_manager_info">
		<table class="table table-striped table-hover table-bordered">
			<tr>
				<th>Name:</th>
				<td>{{ user_manager.attributes.name }}</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>{{ user_manager.attributes.description }}</td>
			</tr>
			{% ifequal user_manager.class_name "user manager ldap" %}
			<tr>
				<th>Connection type:</th>
				<td>{{ user_manager.connection_type }}</td>
			</tr>
			<tr>
				<th>LDAP server:</th>
				<td>{{ user_manager.server }}</td>
			</tr>
			<tr>
				<th>Server port:</th>
				<td>{{ user_manager.port }}</td>
			</tr>
			<tr>
				<th>Base DN:</th>
				<td>{{ user_manager.base_dn }}</td>
			</tr>
			<tr>
				<th>Valid Groups:</th>
				<td>{{ user_manager.valid_groups }}</td>
			</tr>
			{% endifequal %}
			{% ifequal user_manager.class_name "user manager active directory" %}
			<tr>
				<th>AD server:</th>
				<td>{{ user_manager.server }}</td>
			</tr>
			<tr>
				<th>Base DN:</th>
				<td>{{ user_manager.base_dn }}</td>
			</tr>
			<tr>
				<th>Valid Groups:</th>
				<td>{{ user_manager.valid_groups }}</td>
			</tr>
			<tr>
				<th>User Domain:</th>
				<td>{{ user_manager.user_domain }}</td>
			</tr>
			{% endifequal %}
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
