<div class="content-links">
	{% if write_access %}
	<a href="/user/manager/add/local/">add local user manager</a>
	| <a href="/user/manager/add/ldap/">add ldap user manager</a>
	| <a href="/user/manager/add/ad/">add AD user manager</a>
	{% endif %}
</div>
<div class="content-header">
	User Managers
</div>
<div class="content-data">
	<div id="display_user_managers">
		<table class="table table-striped table-hover table-bordered infotable">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>Active</th>
			</thead>
			{% for user_manager in user_manager_list %}
				<td>
					<a href="/user/manager/display/{{ user_manager.obj.oid|urlencode }}/">
						{{ user_manager.obj.attributes.name|default:"[UNKNOWN]" }}
					</a>
				</td>
				<td>
					{{ user_manager.obj.attributes.description }}
				</td>
				<td>
					{{ user_manager.type }}
				</td>
				<td>
					{{ user_manager.active }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
