<div class="content-links">
	{% if write_access %}
	<a href="/user/add/{{ user_manager.oid }}/">add user</a>
	{% endif %}
</div>
<div class="content-header">
	Users
</div>
<div class="content-data">
	<div id="display_users">
		<table class="table table-striped table-hover table-bordered infotable">
			<thead>
				<th>User name</th>
				<th>Real name</th>
				<th>Description</th>
			</thead>
			{% for user in user_list %}
				<td>
					<a href="/user/display/{{ user.oid|urlencode }}/">
						{{ user.username }}
					</a>
				</td>
				<td>
					{{ user.attributes.real_name }}
				</td>
				<td>
					{{ user.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
