<div class="content-links">
	{% if administrator %}
	<a href="/user/group/add/{{ user_manager.oid }}/">add group</a>
	{% endif %}
</div>
<div class="content-header">
	Groups
</div>
<div class="content-data">
	<div id="display_groups">
		<table class="table table-striped table-hover table-bordered infotable">
      <thead>
				<th>Group name</th>
				<th>Description</th>
			</thead>
			{% for group in group_list %}
				<td>
					<a href="/user/group/display/{{ group.oid|urlencode }}/">
						{{ group.attributes.name|default:"[UNKNOWN]" }}
					</a>
				</td>
				<td>
					{{ group.attributes.description }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
