<div class="content-links">
	{% if write_access %}
	<a href="/user/connectkey/selectkey/{{ user.oid|urlencode }}/">connect password key</a>
	{% endif %}
</div>
<div class="content-header">
	Subkeys
</div>
<div class="content-data">
	<div id="display_subkeys">
		{% if subkey_list %}
		<table class="table table-hover table-striped table-bordered" id="accordion-table">
      <thead>
        <tr>
          <th class="infotable">Name</th>
          <th class="infotable">Description</th>
          <th class="infotable">Action</th>
        </tr>
      </thead>
			{% for subkey in subkey_list %}
      <tr>
        {% if not subkey.exists %}
          <!-- Jinja2 will never display this. -->
          <td colspan="2">Password key deleted</td>
        {% else %}
          <td>{{ subkey.name | escape }}</td>
          <td>{{ subkey.description | escape }}</td>
        {% endif %}
        <td>
          {% if write_access %}
          <button type="button" class="btn btn-default" href="#collapse-{{subkey.oid}}" data-toggle="collapse" data-parent="#accordion-table" aria-expanded="true" aria-controls="collapse-{{subkey.oid}}">re-connect</button>
          <a class="btn btn-primary" href="/user/subkey/delete/{{ subkey.oid }}/">disconnect</a>
          {% endif %}
        </td>
      </tr>

      <!-- Collapsible table row for re-connect form. -->
      {% if subkey.exists %}
      <tr id="collapse-{{subkey.oid}}" class="collapse out">
        <td colspan="3" class="center subkeyChildData">
          <form class="form-inline" id="subkeyConnectForm{{subkey.oid}}">
            {% if user.username != username %}
            <div class="form-group">
              <label for="userPassword">User password (required if user has never logged in): </label>
              <input type="password" class="form-control" id="userPassword" placeholder="User password">
            </div>
            {% endif %}
            <div class="form-group">
              <label class="sr-only" for="subkeyPassword">Key password</label>
              <input type="password" class="form-control" id="subkeyPassword" placeholder="Key password">
              <input type="text" hidden="true" id="subkeyOid" value="{{subkey.oid}}">
              <input type="text" hidden="true" id="userOid" value="{{user.oid}}">
              <input type="text" hidden="true" id="passwordKeyOid" value="{{subkey.subkey.password_key.oid}}">
            </div>
            <button type="submit" class="btn btn-danger">Re-connect {{subkey.password_key.attributes.name|escape}}</button>
          </form>
          <div id="formAlert{{subkey.oid}}" class="alert collapse">
          </div>
        </td>
      </tr>
      {% endif %}

			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
<br/>
<br/>
<br/>
