<div class="content-links">
	{% if write_access %}
	<a href="/user/password/update/{{ user.oid|urlencode }}/">update password</a>
	| <a href="/user/password/reset/{{ user.oid|urlencode }}/">reset password</a>
	| <a href="/user/update/{{ user.oid|urlencode }}/">update</a>
	{% if administrator %}
	| <a href="/user/delete/{{ user.oid|urlencode }}/">delete</a>
	{% endif %}
	{% endif %}
</div>
<div class="content-header">
	User Information
</div>
<div class="content-data">
	<div id="display_user">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Username:</th>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<th>Real name:</th>
				<td>{{ user.attributes.real_name }}</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>{{ user.attributes.description }}</td>
			</tr>
			<tr>
				<th>Administrator:</th>
				<td>{{ user.administrator }}</td>
			</tr>
      <tr>
        <th>Has logged in:</th>
        <td>{{has_logged_in}}</td>
      </tr>
		</table>
	</div>
</div>
<br/>
<br/>
<br/>
{% include "stweb/users/display_subkeys.html" %}
{% include "stweb/attributes/display.html" %}
